* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.label {
  background: #444;
  color: #fff;
  transition: transform 400ms ease-out;
  display: inline-block;
  width: 100vw;
  height: 250px;
  position: relative;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .label {
    height: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .label {
    height: 400px;
  }
}

form {
  white-space: nowrap;
}
input {
  position: absolute;
}

.keys {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: #fff;
  text-align: center;
  transition: all 300ms linear;
  opacity: 0;
}

input:focus ~ .keys {
  opacity: 0.8;
}

input:nth-of-type(1):checked ~ .label:nth-of-type(1),
input:nth-of-type(2):checked ~ .label:nth-of-type(2),
input:nth-of-type(3):checked ~ .label:nth-of-type(3),
input:nth-of-type(4):checked ~ .label:nth-of-type(4) {
  z-index: 0;
}

input:nth-of-type(1):checked ~ .label {
  transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ .label {
  transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ .label {
  transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ .label {
  transform: translate3d(-300%, 0, 0);
}

.label {
  background: #444;
  background-size: cover;
  font-size: 3rem;
}
.label[for="page1"] {
  background-image: url("../images/Frame2.png");
}
.label[for="page2"] {
  background-image: url("../images/example.png");
}
.label[for="page3"] {
  background-image: url("../images/change3.png");
}
.label[for="page4"] {
  background-image: url("../images/change4.jpg");
}

.label:before,
.label:after {
  color: white;
  display: block;
  position: absolute;
  padding: 1.5rem;
  font-size: 3rem;
  height: 10rem;
  vertical-align: middle;
  line-height: 10rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
}

.label:before {
  content: "\276D";
  right: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.label:after {
  content: "\276C";
  left: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
