.button {
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 8px 32px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.230);

}

.db {
    display: flex;
    justify-content: right;

}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 13px;
        padding: 6px 25px;
    }
}

@media screen and (max-width: 767px) {
    .button {
        font-size: 10px;
        padding: 5px 18px;
    }
}