.itemWrap {
  /* width: calc(100% - 170px); */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item {
  width: calc(25% - 7px);
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.imgBox {
  width: 100%;
  height: 100%;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  z-index: 3;
}

.textBox p {
  color: white;
  margin: 5px 0 0;
}

.textBox__name {
  font-size: 22px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(50px);
}

.textBox__price {
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  transform: translateY(50px);
}

.item:after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
  transition: all 0.4s ease-in-out;
}

.item .textBox__price {
  transition: all 0.4s ease-in-out 0.15s;
}

@media screen and (max-width: 767px) {
  /* mobile */
  /* .mainBanner {
      height: 160px;
      margin-bottom: 0;
    }
  
    .mainBanner .text {
      font-size: 26px;
    }
  
    .wrapper {
      flex-direction: column;
      padding: 0;
    }
  
    .sidebar {
      width: 100%;
    }
  
    .mainMenu {
      padding: 0;
      border-radius: 0;
    }
  
    .mainMenu ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  
    .mainMenu ul li a {
      font-size: 14px;
      padding: 12px 10px;
    }
  
    .writeBtnBox {
      display: none;
    } */

  .itemWrap {
    width: 100%;
    margin-top: 12px;
    padding: 0 10px;
  }

  .item {
    width: calc(50% - 7px);
    aspect-ratio: unset;
    height: auto;
    overflow: hidden;
    border: 0.5px solid #cccccc;
  }

  .imgBox {
    aspect-ratio: 1/1;
  }

  .item:after {
    display: none;
  }

  .textBox {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px 15px 12px;
    background-color: #efefef;
  }

  .textBox p {
    color: black;
  }

  .textBox__name {
    font-size: 18px;
    opacity: 1;
    transform: translateY(0);
  }

  .textBox__price {
    font-size: 12px;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablet */
  .item {
    width: calc(50% - 7px);
    aspect-ratio: unset;
    height: auto;
    overflow: hidden;
    border: 0.5px solid #cccccc;
  }

  .imgBox {
    aspect-ratio: 1/1;
  }

  .item:after {
    display: none;
  }

  .textBox {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px 15px 12px;
    background-color: #efefef;
  }

  .textBox p {
    color: black;
  }

  .textBox__name {
    font-size: 18px;
    opacity: 1;
    transform: translateY(0);
  }

  .textBox__price {
    font-size: 12px;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 1024px) {
  .mainMenu ul li a:hover {
    padding-left: 20px;
    background: #454545;
    /* background: #ffffff; */
  }

  .item:hover:after {
    opacity: 1;
  }

  .item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
  }

  .item:hover .textBox__name {
    opacity: 1;
    transform: translateY(0);
  }

  .item:hover .textBox__price {
    opacity: 1;
    transform: translateY(0);
  }
}
