* {
  box-sizing: border-box;
}

@keyframes titleText {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.mainContainer {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 0 10px; */
}

.itemWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 7px;
}
.exWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exImg {
  width: 250px;
  aspect-ratio: 5 / 7;
  /* height: 350px;
  width: 250px; */
  margin: 0 10px;
  border-radius: 5px;
}
.exFont {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.containerTest {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav sidebar footer"
    "nav nav main main"
    "sidebar1 sidebar2 main main"
    "content content content content";
  text-align: center;
  grid-gap: 0.25rem;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 767px) {
  .containerTest {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.25fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "sidebar1"
      "sidebar2"
      "main"
      "content"
      "footer";
  }
}
.navBar {
  grid-area: nav;
  /* padding: 0.25rem; */
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
  /* padding: 0.25rem; */
}
.sidebar1 {
  grid-area: sidebar1;
  /* padding: 0.25rem; */
}
.sidebar2 {
  grid-area: sidebar2;
  /* padding: 0.25rem; */
}
.contentBox {
  display: flex;
  gap: 0.25rem;
  /* padding: 0.25rem; */
  align-items: center;
  grid-area: content;
  justify-content: center;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
.content1,
.content2,
.content3,
.content4 {
  background: #a6b8b9;
  /* padding: 0.25rem; */
  width: 100%;
  height: 100%;
}
.footer {
  background: #ff9637;
  grid-area: footer;
  /* padding: 0.25rem; */
}
