.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.pagination img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .pagination {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        animation: center-move 1s ease-out; 
    }

    .pagination img {
        margin-left: 11%;
        width: 80%;
    }

}

@media screen and (max-width: 767px) {
    .pagination {
        width: 100%;
        height: 5%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        animation: center-move 1s ease-out; 
    }

    .pagination img {
        margin-left: 14%;
        width: 70%;
    }
    
}