.content {
  margin-left: 18%;
  width: 82%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.title {
  color: white;
  width: 100%;
  margin: 0 0 100px 0;
  font-size: 40px;
}

.bar {
  width: 100%;
  margin:0 auto 80px; 
  
}

/* .undercontent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1% 8% 0 8% ;
  
}

.undername {
  color: white;
  margin: 0 0 70px 0;
  font-size: 12px;
  align-items: center;
  width: 100px;
  text-align: center;

} */


.select {
  display: flex;
  justify-content: space-between;
  height: 48%;
}

.imagebox {
  width: 47%;
}

.imagebox a {
  border-radius: 20px;
  overflow: hidden;
  display: block;
  line-height: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.541);
}

.image  {
  width: 100%;
  
}

.image:hover {
  transform: scale(1.1);
  opacity: 0.7;
} 


.image_text {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-top: 30px;
}

.container {
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  /* padding: 0 10px; */
}

@keyframes center-move {/*애니메이션 효과*/ 
  from {transform: translateX(-8%);}
  to {transform: translateX(0);}
}

@media screen and (max-width: 1024px) {
  .content {
    margin-left: 22%;
    width: 78%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4%;
    animation: center-move 1s ease-out; /*애니메이션 효과*/
  }
}


@media screen and (max-width: 767px) {/* 이름, 지속시간, timing-function */
  .content {
    margin-left: 28%;
    width: 72%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4%;
    animation: center-move 1s ease-out; /*애니메이션 효과*/
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 80px;
    margin-top: 5px;
    animation: center-move 1s ease-out; 
  }

  .bar {
    width: 100%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: center;
    animation: center-move 1s ease-out; 
  }

  .select {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: center-move 1s ease-out; 
  }
  

  .imagebox {
    width: 60%;
    margin-bottom: 30px;
    animation: center-move 1s ease-out; 
  }

  .image_text {
    font-size: larger;
    animation: center-move 1s ease-out; 
  }
  
}