.uploadbox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 47%;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.541);
}

uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2.5px dashed #898989;
    height:70%;
    width: 83%;
    cursor: pointer;
    background-color: #E7E7E7;
    margin-bottom: 5%;
}

.uploadbox button {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:8%;
    width: 25%;
    border-radius: 30px;
    margin-left: 58%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.230);
}

p {
    line-height: 0;
    font-size: 100%;
}

.dropicon  {
    width: 25%;
    height: 25%;
    
}

.picture {
    height:100%;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .uploadbox {    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
        width: 47%;
    }

    uploader {
        height:70%;
        width: 83%;
    }

    .picture {
        width: 100%;
        height: 100%;
    }
    .uploadbox button {
        font-size: 80%;
        margin-left: 58%;
        margin-top: 1%;
        height:8%;
        width: 25%;
    }

    .dropicon  {
        width: 25%;
        height: 25%;
        
    }

    p {
        font-size: 80%;
    }
    
    .uploader img {
        width: 75%;
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .uploadbox {
        height:100%;
        width: 47%;
        margin-bottom: 30px;
    }

    uploader {
        height:70%;
        width: 83%;
        margin-top: 7%;;
    }

    .dropicon  {
        width: 25%;
        height: 25%;
        
    }
    
    .picture{
        width: 100%;
        height: 100%;
    }
    .uploadbox button {
        font-size: 66%;
        margin-left: 58%;
        height:8%;
        width: 25%;
        margin-bottom: 9%;
    }

    p {
        font-size: 75%;
    }
    
    .uploader img {
        width: 75%;
        height: auto;
    }
  }